* {
    background-color: #006400;
    font-size: 1rem;
}

html, body {margin: 0; height: 100%; overflow: hidden}


#table {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background: none;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bubble-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
}


/*Display's the table's iconic BLACKJACK text*/
h1 {
    font-family: 'Rye', cursive;
    letter-spacing: 0.1em;
    font-size: 6rem;
    color: rgba(255,255,255,.8);
}

p {
    font-size: 2.2rem;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-stretch: condensed;
    background: none;
}

span {
    font-size: 2.2rem;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-stretch: condensed;
    background: none;
}

/*Label for bet input*/
label {
    font-size: 2.2rem;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-stretch: condensed;
    background: none;
}

/*Styles the player's bet input so that it is not too jarring*/
input {
    color: #FFF;
    font-size: 2.2rem;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-stretch: condensed;
    padding-left: .2rem;
    width: 3rem;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*Turns font player controls grey, when they cannot be interacted with*/
.static {
    color: #A0A0A0
}

/*Assigns space for player's score*/
.bottom-left {
    position: fixed;
    left: 3rem; bottom: 4rem;
    width: 16rem;
    height: 10rem;
    padding: 5px;
}

/*Assigns space for player's controls*/
.bottom-right {
    position: fixed;
    right: 3rem; bottom: 10rem;
    width: 16rem;
    height: 13rem;
    padding: 5px;
    text-align: right;
}


/*Assigns space for discard pile*/
.top-left {
    position: fixed;
    left: 10rem; top: 6rem;
    width: 16rem;
    height: 13rem;
    padding: 5px;
    text-align: right;
}

/*Assigns space for draw pile*/
.top-right {
    position: fixed;
    right: 10rem; top: 6rem;
    width: 16rem;
    height: 13rem;
    padding: 5px;
    text-align: right;
}

.card {
    max-height: 14rem;
    animation-name: verticaldeal;
    animation-duration: 1.5s;
    background: transparent;
}

.cpu-card {
    transform: rotate(-90deg);
    margin: -1.8rem;
    max-height: 14rem;
    animation-name: horizontaldeal;
    animation-duration: 1.5s;
    background: transparent;
}

.hand {
    display: flex;
    width: min-content;
    justify-content: space-between;
}

.cpu-hand {
    display: flex;
    height: max-content;
    flex-direction: column;
    align-items: center;
}


#cpu1-hand {
    position: fixed;
    top: 40%;
    right: 20%;
}

#cpu2-hand {
    position: fixed;
    top: 40%;
    left: 20%;
}

#player-hand {
    position: fixed;
    right: 42%;
    bottom: 10%;
}

#dealer-hand {
    position: fixed;
    right: 42%;
    top: 10%;
}

/*Rotates draw and discard piles so as to look less robotic*/
#draw {
    transform: rotate(40deg);
}

#discard {
    transform: rotate(-40deg);
}

#bubble {
    position: fixed;
    top: 20%;
    display: none;
    justify-content: center;
}

#bubble > img {
    width: 40rem;
    transform: rotate(180deg);
    background: transparent;

}

#bubble-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 37%;
    width: 30%;
    text-align: center;
}

#bubble-content > p {
    color: #000;
    word-wrap: break-word;
}

.bubble-interact {
    text-decoration: underline;
    color: #000;
}

#close-bubble:hover {
    color: #FF0000;
}

#insure:hover {
    color: #FF0000;
}

#surrender:hover {
    color:#FF0000
}

@keyframes verticaldeal {
    from {height: 14rem; width: 0rem;}
    to {height: 14rem; width: 10.25rem;}
}

@keyframes horizontaldeal {
    from {height: 0; width: 10.25rem;}
    to {height: 14rem; width: 10.25rem;}
}