* {
    background-color: #006400;
    font-size: 1rem;
}

html, body {margin: 0; height: 100%; overflow: hidden}


#table {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Rye', cursive;
    font-size: 6rem;
    color: rgba(255,255,255,.8);
}

p {
    font-size: 2.2rem;
    color: #FFF;
}

.static {
    color: #C0C0C0
}

.bottom-left {
    position: fixed;
    left: 3rem; bottom: 4rem;
    width: 16rem;
    height: 10rem;
    padding: 5px;
}

.bottom-right {
    position: fixed;
    right: 3rem; bottom: 10rem;
    width: 16rem;
    height: 13rem;
    padding: 5px;
    text-align: right;
}

.top-right {
    position: fixed;
    right: 6rem; top: 2rem;
    width: 16rem;
    height: 13rem;
    padding: 5px;
    text-align: right;
}

.card {
    max-height: 14rem;
}

#draw {
    transform: rotate(40deg);
}